.content-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-size: 10px;

    .content-img {
        text-align: center;

        img {
            width: 100px;
        }
    }

    .loading {
        height: 20px;
        width: 20px;
    }
}