@font-face {
    font-family: 'myFirstFont';
    src: url(../public/WalkwaySemiBold.ttf);
}

body {
    font-family: 'myFirstFont';
}

$gray-darker: #232735;
$gray-dark: #002636;
$gray-light: #c7cedf;
$gray-lighter: #edf1f2;

$black: #010409;
$inverse: #131e26;
$purple: #7266ba;
$pink: #f532e5;
$yellow: #fad732;
$green: #27c24c;
$gray: #d1d5ca;

$primary: #0d415d;
$secondary: #007A79;
$success: #476e51;
$dark: #0d415d;
$info: #976F4F;
$warning: #ff902b;
$danger: #FF0000;