$gray-darker: #232735;
$gray-dark: #3a3f51;
$gray: #dde6e9;
$gray-light: #c7cedf;
$gray-lighter: #edf1f2;

$black: #010409;
$inverse: #131e26;
$purple: #7266ba;
$pink: #f532e5;
$yellow: #fad732;
$green: #27c24c;

$primary: #204349;
$secondary: #007A79;
$success: #27c24c;
$info: #976F4F;
$warning: #ff902b;
$danger: #FF0000;
$dark: #3a3f51;